<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/join.css">
        <link rel="icon" href="./css/node.ico">
        <title>Me & Node | join </title>
    </head>
<body>

  

        <div class="container-fluid ">
                <div class="row nav"> 
                    <div class="col-lg-6 col-sm-12">

                    <a href="/"><strong>ME & Node</strong></a>
                   </div>

                       <div class="col-lg-6 col-sm-12 opt">
                            <a  class="btn" href="/">Home</a> 
                            <a  class="btn" href="/join">Join</a>
                         </div>
                 </div>            
        </div> 

        <div class="up"></div>
    
    <div class="container ">
        <div class="row form"> 
            <div class="col-lg-12 col-sm-12">
                        <strong>Thre is no mongodb database associated with this hosted site however if you clone <a target="_blank" href="https://github.com/hadimir22/Node-MongoDB-site.git">This Repo</a> and set a local mongodb database it will work fine</strong>
                    <form method="POST" action="/join">
                            <div class="form-group">
                              <label for="text1">Your name</label>
                              <input type="text" name="name" class="form-control" id="text1" aria-describedby="text1Help" placeholder="eg jhon snow">
                             </div>
                            <div class="form-group">
                                    <label for="text2">Project name</label>
                                    <input type="text" name="proName" class="form-control" id="text2" aria-describedby="text2Help" placeholder="eg the wall">
                              </div>
                            <div class="form-group">
                                        <label for="text3">Project link</label>
                                        <input type="text" name="link" class="form-control" id="text3" aria-describedby="text3Help" placeholder="eg https://github.com/hadimir22">
                            </div>
                       
                           
                            <button type="submit" id ="submit" class="btn btn-primary">Submit</button>
                   </form>
 
           </div>             
         </div> 
</div> 


<div class="container-fluid ">
        <div class="row foot">

            <div class="col-lg-6 col-sm-12">

            <a href="/"><strong>ME & Node</strong></a>
           </div>

               <div class="col-lg-6 col-sm-12 opt">
                    <a    href="/">Contact</a>
                    <a    href="/">Locate us</a>
                    <a    href="/">Careers</a>
                 </div>


         </div>
</div> 



    

         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="./js/join.js"></script>
</body>
</html>